<style>
    a, a:hover {
        text-decoration: none;
        color: white;
    }
    .footer {
        background-color: #2A3B71;
        color: white;
    }
</style>

<footer class="text-center text-white footer">
    <div class="container p-4">
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Todos los derechos reservados Copyright © 2021</span>
            </p>
        </section>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-4 border border-secondary">
                <a href="https://www.instagram.com" target="_blank"><img src="~/IMAGENES/instagramlogo.png" /> Instagram</a>
            </div>
            <div class="col-3 p-4 border border-secondary">
                <a href="https://www.facebook.com" target="_blank"><img src="~/IMAGENES/facebooklogo.png" /> Facebook</a>
            </div>
            <div class="col-3 p-4 border border-secondary">
                <a href="https://www.twitter.com" target="_blank"><img src="~/IMAGENES/twitterlogo.png" /> Twitter</a>
            </div>
            <div class="col-3 p-4 border border-secondary">
                <a href="https://www.youtube.com" target="_blank"><img src="~/IMAGENES/youtubelogo.png" /> Youtube</a>
            </div>
        </div>
    </div>
</footer>
