
<!-- Comienza el menu Superior -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 fs-6" href="HomeAdmin">SISTEMA DE CITAS MEDICAS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link mx-md-2 btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Dropdown -->
    <ul class="navbar-nav form-inline ms-auto ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                @Html.ActionLink("Cerrar sesión", "Login","Home",null,new {@class = "dropdown-item" })
            </ul>
        </li>
    </ul>
</nav>