<!-- Comienza el footer -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="small">
            <div class="text-muted text-center">Todos los derechos reservados Copyright &copy; 2021</div>
        </div>
    </div>
</footer>
<!-- Termina el footer -->
